@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300;1,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #06022B;;
}


.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar{
  background-color: white;
  display: flex;
    margin: 25px;
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: #06022B;
}

.nav-item .underline
{
  height: 5px;
  width: 50%;
  margin: 0 auto;
  transition: .3s;
}
.nav-item:hover .underline
{
  background-color: #CBF2FA;
}


#mainNavbar .oned{
  justify-content:flex-end;
  margin-bottom: 30px;
}

#mainNavbar img{
  width: 80px;
}

.image1{
    display: flex;
    height: 100vh;
    padding-bottom: 5rem;
    justify-content: flex-end;
    align-items:flex-end;
    z-index: -1;
}
.heads{
  display: flex;
  padding: 0;
}

.kmbuttom{
  width: 242px;
  height: 61px;
  background-color: #A6F0FF;
  border-radius: 30px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border: 0;
}

.main{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  box-sizing:border-box;
}

/* edit to so that we can adjust the thing to look exactly like the design */
.sub{
  display: flex;
  margin: 0;
  font-size: 2rem;
  width: 70%;
  box-sizing:content-box;
}
.back{
  padding: 0;
  padding-top: 14rem;
}

.suplement{
  display: none;
}

/*Page 2*/

.pg2Heading{
  padding: 0;
  font-weight: bolder;
}

.subtext{
  font-weight: 100;
  padding: 0;
  font-size: 2rem;
  opacity: 0.6;
}

.get{
  margin:30px 0;
}

.line{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line hr{
  opacity: 1;
  background-color: black;
  width: 3px;
  height: 80px;
}

.wrapper {
  width: 200px;
  height: 180px;
  display: flex;
  justify-content: center;
  margin-left:-100px;
}

.or-separator {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.vertical-line {
  border-left: 2px solid #000000;
  flex-grow: 1;
  width: 1px;
}

.row1{
  margin-left:-60px;
  margin-right:80px;
  margin-top:10px;
}

/* page 3 */
.aobut{
  display: flex;
}
.image2{
  margin-left:30px;
  /* z-index: -1; */
}
.aboutCle{
  /* z-index: 1; */
  margin-top:60px;
  margin-left:-80px;
  margin-right:-40px;
  text-align: right;
  font-size: 1.5rem;
  max-width: 780px;
  max-height: 432px;
}


/* page 4 */
#table1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.act{
  margin-bottom: 5px;
}
.tableCol{
  display: flex;
  justify-content: center;
  align-items:center ;
}
.icon1{
  width: 200px;
  
}

.pg4Heading{
  padding: 0;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  text-align: center;
  height: 144px;
  line-height: 72px;
}

/* contact and information section */

.delta{
  height: 33.3vh;
  background-color: #F3FBFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headis{
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 14px;
  opacity: 1;
}

.line1{
  justify-content: flex-start;
  margin-bottom:16px;
}

@media (max-width: 1000px) {

  #mainNavbar .oned{
      justify-content: center;
      align-items: center;
  }

  .image1{
    padding: 0rem;
    justify-content: center;
    align-items: center;
  }
  .suplement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
  }
  .main{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    box-sizing:border-box;
  }
  
  /* edit to so that we can adjust the thing to look exactly like the design */
  .sub{
    display: flex;
    margin: 0;
    font-size: 1.5rem;
    width: 70%;
    box-sizing:content-box;
  }
}

.blueButton {
  position: absolute;
  cursor: pointer;
  height: 60px;
  width: 241px;
  margin: 7em 0;
  background-color: #a6f0ff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.buttonText {
  margin: 0px 1.7em;
  color: #06022B;
  font-size: 1.5em;
}

.arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  color: #06022b;
  cursor: pointer;
  left: 190px;
  top: -2px;
  line-height: 60px;
  margin-left: -30px;
  transition: all 0.25s ease-in-out;
}
.arrow:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  margin-left: -7.5px;
  margin-top: -3.75px;
  border-top: 3px solid;
  border-left: 3px solid;
  transform: rotateZ(135deg);
}


